:root {
    --mainMargin: 20px;
    --mainWidth: 1440px;
    --colorMain: rgb(15, 15, 15);
    --colorContainer: rgb(22, 22, 22);
    --centerColor: rgba(159, 207, 219, 0.158);
    --themeColorGraph: rgb(29, 73, 73);
    --leftWidth: 280px;
    --imageWith: 120px;

    --containerMargin: 20px;
    --textColor: rgb(204, 204, 204);
    --textSize: 10px;
    --colorGraph: rgb(36, 36, 36);
    --borderGraph: 4px;
    --borderGraphCircular: 8px;

}

* {
    box-sizing: border-box;
    margin: 0;
}

div {
    border: 1px solid red;
}

div[class$='container'] {
    padding: var(--containerMargin);
    border: 3px solid green;
}

body {

    background-color: var(--colorMain);

    display: flex;
    justify-content: center;

    font-size: var(--textSize);

    .main-box {

        width: var(--mainWidth);
        height: calc(100vh - (2 * var(--mainMargin)));
        margin-top: var(--mainMargin);

        display: flex;
        overflow: auto;

        .left-container {

            background-color: var(--colorContainer);
            width: var(--leftWidth);
            height: 100%;
            aspect-ratio: 1/1;

            position: sticky;
            top: 0px;
            /* ARREGLO PARA STICKY */

            div {
                width: 100%;
                display: flex;
                justify-content: center;

                img {

                    width: var(--imageWith);
                    aspect-ratio: 1/1;
                    opacity: 50%;
                }

                h2 {
                    width: 100%;
                    font-size: 30px;
                    color: var(--textColor);
                    text-align: end;
                    letter-spacing: 14px;
                }
            }

            hr {
                margin-top: calc(var(--leftWidth) / 20);
                color: var(--colorGraph);
            }

            .percentage {
                width: calc(var(--leftWidth - (--containerMargin * 2)));
                margin-top: 15px;
                margin-bottom: 10px;

                display: flex;
                justify-content: space-around;

                div {
                    width: 60px;
                    height: 60px;
                    border: var(--borderGraphCircular) solid var(--colorGraph);
                    border-radius: 50%;
                    position: relative;
                    overflow: visible;

                    div {
                        border-right: var(--borderGraphCircular) solid var(--themeColorGraph);
                        /* transform: rotate(-45deg); */
                        position: absolute;
                        bottom: calc(var(--borderGraphCircular) * -1);
                        left: calc(var(--borderGraphCircular) * -1);
                        color: var(--textColor);

                        display: flex;
                        align-items: center;
                    }
                }
            }

            ul {
                color: var(--textColor);
                list-style: none;
                padding: 0;
            }

            .ul-horizontal {
                display: flex;
                justify-content: space-around;
                gap: 20px;
                margin-bottom: 20px;
            }

            .ul-vertical {

                li {
                    line-height: 28px;
                    width: calc(var(--leftWidth - (--containerMargin * 2)));
                    display: flex;

                    p:first-child {
                        width: 50%;
                        height: var(--borderGraph);
                        background-color: var(--themeColorGraph);
                    }

                    p:last-child {
                        width: calc(100% - 50%);
                        height: var(--borderGraph);
                        background-color: var(--colorGraph);

                    }
                }
            }
        }
    }

    .center-container {

        width: calc(100% - 360px);
        height: 2222px;
        margin-left: 8px;
        margin-right: 8px;
        padding: 0;
        background-color: var(--colorContainer);
        box-shadow: inset 0 0 100px 0px var(--centerColor);

        overflow: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;

        div:first-child {
            width: 100%;
            height: 160px;
            padding: 0;
            opacity: 68%;
            overflow: hidden;

            video {
                width: 100%;
            }

            div:nth-of-type(2) {
                width: calc(100% - var(--containerMargin));
                height: calc(100% - var(--leftWidth));
            }
        }
    }
}

.right-container {

    width: 80px;
    height: 100%;
    background-color: var(--colorContainer);

    position: sticky;
    top: 0px;
    /* ARREGLO PARA STICKY */

}

div[class*=video] {
    display: none;
}