:root {
    --mainMargin: 20px;
    --mainWidth: 1440px;
    --colorMain: rgb(15, 15, 15);
    --colorContainer: rgb(22, 22, 22);
    --centerColor: rgba(159, 207, 219, 0.158);
    --themeColorGraph: rgb(29, 73, 73);
    --leftWidth: 280px;
    --imageWith: 100px;

    --containerMargin: 20px;
    --textColor: white;
    --textSize: 10px;
    --colorGraph: rgb(36, 36, 36);
    --borderGraph: 5px;
    --borderGraphCircular: 8px;

}

* {
    box-sizing: border-box;
    margin: 0;
}

div[class$='container'] {
    padding: var(--containerMargin);
}

body {

    justify-content: center;
    background-color: var(--colorMain);

    display: flex;

    font-size: var(--textSize);

    .main-box {

        width: var(--mainWidth);
        height: calc(100vh - (2 * var(--mainMargin)));
        margin-top: var(--mainMargin);

        display: flex;
        overflow: auto;

        .left-container {

            background-color: var(--colorContainer);
            width: var(--leftWidth);
            height: 100%;
            aspect-ratio: 1/1;

            position: sticky;
            top: 0px;
            /* ARREGLO PARA STICKY */

            div {
                width: 100%;
                display: flex;
                justify-content: center;

                img {

                    width: var(--imageWith);
                    aspect-ratio: 1/1;
                    opacity: 50%;
                }
            }

            hr {
                margin-top: calc(var(--leftWidth) / 20);
                color: var(--colorGraph);
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    color: var(--textColor);
                    line-height: 2rem;
                    width: calc(var(--leftWidth - (--containerMargin * 2)));
                    display: flex;

                    p:first-child {
                        width: 50%;
                        height: var(--borderGraph);
                        background-color: var(--themeColorGraph);
                    }

                    p:last-child {
                        width: calc(100% - 50%);
                        height: var(--borderGraph);
                        background-color: var(--colorGraph);

                    }
                }
            }

            .percentage {
                width: calc(var(--leftWidth - (--containerMargin * 2)));
                margin-top: 15px;

                display: flex;
                justify-content: space-between;

                div {
                    width: 70px;
                    height: 70px;
                    border: var(--borderGraphCircular) solid var(--colorGraph);
                    border-radius: 50%;
                    position: relative;
                    overflow: visible;

                    div {
                        border-right: var(--borderGraphCircular) solid var(--themeColorGraph);
                        /* transform: rotate(-45deg); */
                        position: absolute;
                        bottom: calc(var(--borderGraphCircular) * -1);
                        left: calc(var(--borderGraphCircular) * -1);
                        color: var(--textColor);

                        display: flex;
                        align-items: center;

                        
                    }
                }
            }

        }
    }

    .center-container {

        width: calc(100% - 360px);
        height: 2222px;
        margin-left: 8px;
        margin-right: 8px;
        background-color: var(--colorContainer);
        box-shadow: inset 0 0 100px 0px var(--centerColor);

        overflow: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;

        div:first-child {
            width: 100%;
            height: var(--imageWith);

            background-image: url(resources/images/beautiful-shot-mountains-trees-covered-snow-fog.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 38%;
        }

        div:nth-of-type(2) {
            width: calc(100% - var(--containerMargin));
            height: calc(100% - var(--leftWidth));
        }
    }
}

.right-container {

    width: 80px;
    height: 100%;
    background-color: var(--colorContainer);

    position: sticky;
    top: 0px;
    /* ARREGLO PARA STICKY */

}